.container{
    width:80%;
    margin: 4rem auto;
    min-height: 70vh;
}
.modal{
    position: fixed !important;
}
.modal_body{
    margin-left: 10rem;
}
.input_modal{
    margin-left: 1rem !important;
}
.container table{
    text-align: center;
}

@media screen and (max-width:600px) {
    .container{
        width:100%;
    }
}