.container{
    min-height: 70vh;
}

.CartDiv{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.436);
    width: 60%;
    margin: 15vh auto;
    height: max-content !important;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
}

.CartDiv h1{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.CartDiv div{
    display: flex;
    flex-direction: column;
}

.CartDiv img{
    width: 250px;
}

.ItemsContainer{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.ItemsInCart{
    width: 75%;
    margin: auto 0;
    display: flex;
}

.ItemsContainer_SingleItem{
    margin: 20px 0;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.ItemsContainer_SingleItem img {
    height: 100px;
    width: 100px;
}
.ItemsContainer_SingleItem h1{
    width: 25%;
}
 .ItemsContainer_SingleItem h1, h2{
    text-align: center;
    align-self: center;
    align-content: center;
    font-size: 1rem !important;
 }
 .Buttons{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around !important;
 }
 .Buttons button{
    width: 30px;
    border-radius: 15px;
    border: none;
    margin: 0 15px ;
 }
 .Buttons h1{
    margin: auto;
    align-items: center;
 }
 .EliminarItem{
    border-radius: 14px;
    padding: .4rem;
    background-color: red;
    color: white;
    height: fit-content;
    margin: auto 0;
 }
.Cart_Checkout{
    text-align: center;
    width: 20%;
    justify-content: center;
    align-self: flex-end;
}

.Cart_Checkout button{
    height: 45px;
    font-size: 1.3rem;
    margin: 3vh auto;
    border: none;
    border-radius: 10px;
    background-color: #3483FA;
    color: white;
    width: 90%;
}

.Cart_Checkout button:hover{
    background-color: #7faff8;
}

.Cart_Checkout button:last-child{
    margin: 0 auto;
    width: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
}

.Cart_Checkout button:last-child:hover{
    background-color: rgb(255, 81, 81);
    color: white;
}

.Checkout_total{
    width: auto;
}

.EmptyCartContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.EmptyCartContainer img{
    width: 10rem;
}
.EmptyCartContainer a{
    color: black;
    text-align: center;
    cursor: pointer;
}
.EmptyCartContainer a h2{
    font-size: 2rem !important;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(224, 224, 224, 0.813);
    padding: 10px;
}
.FavDiv{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.436);
    width: 60%;
    margin: 15vh auto;
    height: max-content !important;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
}
.FavDiv h1{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.374);
    font-size: 2rem;
}
.FavDiv div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto 1rem auto ;
}
.FavDiv div div div a {
    margin: auto 0;
}
.AddCartFav{
    margin: auto 0;
    height: 45px;
    font-size: .9rem;
    border: none;
    border-radius: 10px;
    background-color: #3483FA;
    color: white;
}

@media screen and (max-width:600px) {
    
.CartDiv{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.436);
    width: 100%;
    margin: 4rem 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
}

.CartDiv div{
    display: flex;
    flex-direction: column;
}

.CartDiv img{
    width:40px;
}

.ItemsContainer{
    display: flex ;
    flex-direction: column !important ;
}

.ItemsInCart{
    margin: auto 0;
    width: auto;
    display: flex;
    width: 100%;
}

.ItemsContainer_SingleItem{
    margin: 20px 0;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center;
}

.ItemsContainer_SingleItem img {
    height: 50px;
    width: 50px;
}
.ItemsContainer_SingleItem h1{
    width: 100%;
}
 .ItemsContainer_SingleItem h1, h2{
    text-align: center;
    margin: 0;
    font-size: 1rem !important;
 }
 .Buttons{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around !important;
 }
 .Buttons button{
    width: 30px;
    border-radius: 15px;
    border: none;
    margin: 0 10px ;
 }
 .Buttons h1{
    margin: auto;
    align-items: center;
 }
 .EliminarItem{
    border-radius: 14px;
    padding: .4rem;
    background-color: red;
    color: white;
    height: fit-content;
    margin: auto 0;
 }
.Cart_Checkout{
    text-align: center;
    width: 100%;
    justify-content: center;
    align-self: center;
}

.Cart_Checkout button{
    height: auto;
    font-size: 1.5rem;
    margin: 3vh auto;
    border: none;
    padding: .9rem;
    border-radius: 20px;
    background-color: #3483FA;
    color: white;
    width: auto;
}

.Cart_Checkout button:hover{
    background-color: #7faff8;
}

.Cart_Checkout button:last-child{
    margin: 0 auto;
    width: auto;
    font-size: 1.2rem;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
}

.Cart_Checkout button:last-child:hover{
    background-color: rgb(255, 81, 81);
    color: white;
}

.Checkout_total{
    width: auto;
}

.EmptyCartContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.EmptyCartContainer img{
    width: 4rem;
}
.EmptyCartContainer a{
    color: black;
    text-align: center;
    cursor: pointer;
}
.EmptyCartContainer a h2{
    margin-top: 3rem;
    font-size: 1rem !important;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(224, 224, 224, 0.813);
    padding: 10px;
}
.FavDiv{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.436);
    width: 100%;
    margin: 15vh auto;
    height: max-content !important;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
}
.FavDiv h1{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.374);
    font-size: 2rem;
}
.FavDiv div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto 1rem auto ;
}
.FavDiv div div div a {
    margin: auto 0;
}
.AddCartFav{
    margin: auto 0;
    height: 45px;
    font-size: .9rem;
    border: none;
    border-radius: 10px;
    background-color: #3483FA;
    color: white;
}

}