
.CreateDiv{
    padding: 15px;
    width: 80%;
    margin: 3rem auto;
}
.CreateDiv form div label{
    margin: 1rem auto;
    font-weight: 600;
}
.logo{
    width: 200px;
    height: auto;
}
.CreateDiv form input, select,textarea{
    width: 70% !important;
    margin: auto !important;
}
.img{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.img div{
    display: inline;
    margin-right: 3vh;
}
.img span button{
    height: 45px;
    font-size: 1.3rem;
    margin: 3vh auto;
    border: none;
    border-radius: 10px;
    background-color: #3483FA;
    color: white;
    width: 40vh;
}
.img div button{
    height: 45px;
    font-size: 1.3rem;
    margin: 3vh auto;
    border: none;
    border-radius: 10px;
    background-color:  #00A650;
    color: white;
    width: 40vh;
   
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

  .FormImage{
    width: 120px !important;
  }
  .Visibility{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Visibility div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 210px;
    height: 210px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.515);
    border: 3px solid transparent;
    outline: none;
    box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
    transition: all .5s ease-in-out;
}
.Visibility input{
    width: 200px;
    height: 200px;
}
  .Visibility input:hover{
    transform: scale(1.05);
  }

  .Visibility div img{
    width: 100px;
  }

