.FavContainer{
    width: 100%;
    height: 100vh;
}
.FavDiv{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.436);
    width: 60%;
    margin: 10vh auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    text-align: center;    
}
.meme{
    width: 600px;
    margin: 0 auto ;
}
.ItemsContainer{
    display: flex;
    flex-direction: column;

}
.ItemsContainer div div{
    justify-content: space-around !important;
}

.Gratis{
    font-weight: 400;
    color: green;
}
.NotLoggin{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width:600px) {
    .FavContainer{
        width: 98%;
        height: 100vh;
    }
    .FavDiv{
        width: 100%;
        margin: 3rem auto;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;    
    }
    .FavDiv img{
        width: 90%;
    }
}