.chat_header{
    padding: 0;
}
.chat_footer form{
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.chat_footer form input{
    width: 500px;
    height: 45px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.chat_body{
    padding: 0;
}
.PyR_container{
    padding: 2rem;
    border-radius: 15px;
    width: 70%;
    background: #ffffff77;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 4rem auto;
    
}
.PyR_content{
    margin:1rem 0;
    padding: 1vh;
    display:flex;
    width: auto;
}
.PyR_content_Respuesta{
    flex-direction: flex-end;
    width: 100%;
    color: grey;
    font-size: 2.5vh;
    margin-left: 3rem;
    color: grey;
    font-size: 2.5vh;
    margin-left: 6vh;
    min-height: 3rem;
    background-color: rgb(209, 248, 235);
    border-radius: 10px;
    padding: 10px;
    height: max-content;
    position: relative;
    margin-top: 1rem;

}

.PyR_content_Pregunta{ 
    width: 100%;
    color: black;
    font-size: 2.8vh;
    margin-left: 0;
    min-height: 3rem;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 1rem;
    height: max-content;
    position: relative;
    margin-top: 1rem;
}        
.PyR_container form button {
    /* color: white; */
    border-radius: 15px;
    
}
.button{
    height: 45px;
    font-size: 1.3rem;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color:  #00A650;
    color: white;
    width: 150px;
    margin-left: 2rem;
}
.inputRes form button{
    margin-left: 5px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color:  #006a33;
    color: white;
    width: auto;
    margin-left: 1rem;
}
.inputRes form input{
    margin: 1rem 0;
    border-radius: 10px;
    border: rgb(182, 182, 182) solid 1px;
}
.PyR_content_Respuesta button{
    position: absolute;
    right: 0;
    top: 0
}
@media screen and (max-width:600px) {

    .chat_header{
         padding: 0;
    }
    .chat_footer form{
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: row;
    }
    .chat_footer form input{
        width: auto;
        border-radius: 14px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.09);
    }
    .chat_body{
        padding: 0;
    }
    .PyR_container{
        padding: 1rem;
        border-radius: 15px;
        width: 100%;
        background: #ffffff77;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 4rem auto;
    }
    .PyR_content{
        margin: 3rem 0;
        padding: 0;
        display:flex;
        justify-content: flex-start;
    }
    .PyR_container form button {
        color: #000000;
        border-radius: 15px;
    }
    .PyR_container input {
        margin-top: 1rem;
        border: none;
    }
        .PyR_content_Pregunta{
            width:60%;
            color: grey;
            font-size: 2vh;
            color: grey;
            background-color: rgb(209, 248, 235);
            border-radius: 10px;
        }
        
        .PyR_content_Respuesta{ 
            margin-left: 0;
            width:60%;
            color: black;
            font-size: 2vh;
            background-color: antiquewhite;
            border-radius: 10px;
            width: auto;
        }
        .button{
            font-size: 1rem;
            text-align: center;
            border: none;
            border-radius: 10px;
            background-color:  #00A650;
            color: white;
            width: auto;
            align-self: center !important;
        }
    }
