.SortContainer{
    margin-top: 3vh;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.CATEGORIAS{
    display: none;
}
.SortContainer select {
    width: 15%;
    background-color: rgba(0, 0, 0, 0.07) !important;
    border: none;
    display: flex;
}
.SortContainer option {
    background: rgba(0, 0, 0, 0) !important;
}
.SortDark{
    margin-top: 3vh;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.SortDark select {
    color: white !important;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: none;
    display: flex;
}
.SortDark option {
    background: rgba(255, 255, 255, 0) !important;
    color: black !important;
    font-weight: 500;
}

@media screen and (max-width:600px) {
    .SortContainer{
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .CATEGORIAS{
        display: flex;
    }
    .SortDark{
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}