
.Filter_Container{
    width: 15%;
    display: inline;
}
.Cards_Container{
    height: max-content;
    width:80%;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Cards_Filter_Container{
    width:100%;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}
.Products_Container{
    width:80%;
    margin: auto;
}