
.Filter_Container{
    width: 15%;
   
}
.Products_Paginate{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Products_Paginate ul li span{
    border: none;
    text-align: center;
}

@media (max-width: 700px){
   
}
.ErrorEnano{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.488);
    border-radius: 15px;
}

.ErrorEnano img{
    margin: auto;
    width: 450px;
}
.Cards_Container{
    height: max-content;
    width:80%;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Cards_Filter_Container{
    width:100%;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}
@media (max-width: 700px){
    .Cards_Filter_Container{
        flex-direction: column-reverse;
        align-content: center;
    }
}
.Products_Container{
    width:80%;
    margin: auto;
}
@media (max-width: 700px){
    .Products_Container{
        width:100%;
    }
}