.CarouselContainer{
    margin-bottom: 3vh !important;
}
.Text{
    background-color: rgba(26, 26, 26, 0.235);
    backdrop-filter: blur(4px);
    color: white !important;
    border-radius: 15px;
}

.CarouselContainer img{
    height: 600px;
    object-fit: cover;
}