.logo {
    display: inline;
    width: 25px;
    height: auto;
}
.LoginContainer{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.LoginContainer img {
    width: 40px
}
.LoginContainer a {
    margin: auto !important;
}
.datalist{
    margin-right: 1vh;
    border-radius: 5px;
}
.Autocomplete{
    display: absolute;
}
.Navbarc{
    background-color: #fbcb0b;
    padding: 4vh;
    display: flex !important;
    justify-content: space-around !important;
}
.Navbarc a {
    margin: auto 5vh;
    color: rgb(0, 0, 0) !important;
}
.DropdownA{
    background: rgba(0, 0, 0, 0);
    margin: auto !important;
}
.Navbarc input, button{
    border: none;
    background-color: rgba(227, 227, 227, 0.705);
}

.Navbarc ::placeholder{
    padding: 5px;
    color: rgba(0, 0, 0, 0.466) !important;
}
.Navbarc a dropdown-item{
    color: rgb(0, 0, 0) !important;
}
.Navbarc Button{
    border-radius: 15px;
    border: none;
    color: black;
}
.Navbarc Button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.96);
}
.cartIMG{
    margin: auto;
    width: 35px;
}
.Cart{
    display: flex;
    flex-direction: row;
}
.Cart h6{
    font-weight: 700;
    margin-left: 4px;
}