.Dark_container{
    width: 90%;
    margin: auto;
    background-color: #eceded7c;
}
/* buttons top  */
.Dark_Links{
    width: 40%;
    display: flex;
    margin: 2vh 0;
    justify-content: space-around;
    justify-items: center;
    align-self: center;
}
.Dark_Links img{
    width: 40px;
    margin-left: 50px;
}
.Dark_Links button{
    margin-left: 3vh;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    font-weight: 600;
    font-size: 2.1vh;
    align-items: center;
    align-content: center;
    align-self: center;
}
.Dark_Links h2{
    margin: auto;
    font-size: 2.1vh;
    font-weight: 300;
}

/* Item Details */

.Dark_Item{
    width: 65%;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Dark_Item_image{
    width:50%;
    display: flex;
    flex-direction: row;
}
.Dark_Item_pictures{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Dark_Item_image .SelectedImg{
    height: 450px;
    width: 450px;
    margin: auto;
    object-fit: contain;
}

.Dark_Item_pictures img{
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
}
.Dark_Item_pictures img:hover{
   cursor: pointer;
}

.Dark_Item_text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
}
.Dark_Item_text h1{
font-style: normal;
font-weight: 700;
font-size: 3.4vh;
line-height: 48px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
}
.Dark_Item_text .Item_text_stock {
    width:10vh;
    text-align: center;
    color: white;
    padding: .4vh;
    background: #25E159;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.Dark_Item_text h2 span{
    font-weight: 700;
}
.Dark_Item_text h2 img{
    width: 30px;
    margin: 1.6vh 0;
}
.Dark_Item_text h2{
    align-self: flex-start;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 2vh;
}
.EnvioGratis{
    color: #00A650 !important;
    font-size: 1.8rem !important;
    font-weight: 400 !important;
}
/* Stock, price, buy, add cart */

.Detail_CountPrice{
    display: flex;
    height:150px;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vh;
    margin:10vh auto;
    background: #ffffffa8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.Detail_CountPrice .ButtonCompra{
    margin: auto 0;
    padding: 1vh;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid black !important;
    background-color: #ffffff;
    border-radius: 15px;
}

.CountPrice_AddCart{
    border: none;
    width: 30px;
    transition: all .4s ease-in-out;
}
.CountPrice_AddCart:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* Detail Description */

.Detail_Description{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Detail_Description_Detail{
    padding: 3vh;
    width: 60%;   
}
.userData{
    display: flex;
    justify-content: space-evenly;
    align-content:flex-start;
    align-items: flex-end;
}
.userData h1{
    color: #000000;
    margin: 0;
    text-decoration: underline 2px !important;
}
.userData h2{
    color: #00A650;
    margin: 0;
}
.userData img{
    width: 40px;
}
.Detail_Description_Detail h2 {
    font-weight: 300;
    font-size: 4vh;
}
.Detail_Description_Detail p {
    margin-top: 4vh;
    width: 70%;
    line-height: 5vh;
    font-weight: 400;
    font-size: 2vh;
}
.Detail_Description_payment{
    border-left: rgba(125, 124, 124, 0.531) 1px solid;
    margin:0 auto;
    width: 30%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
}
.Payment_methods{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Payment_methods div{
    margin: 1.5vh 0;
}
.Payment_methods div img{
    margin: 0 1vh;
}

/* Preguntas y Respuestas */

.PyR_container{
    padding: 3vh;
    border-radius: 15px;
    width: 70%;
    background: #ffffff77;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5vh auto;
}
.PyR_content{
    margin:3vh 0;
    padding: 1vh;
}
.PyR_content_Pregunta{
    color: grey;
    font-size: 2.5vh;
}

.PyR_content_Respuesta{ 
    color: black;
    font-size: 2.8vh;
    margin-left: 3vh;
}
.PyR_content_Respuesta img{
    width: 15px;
    margin-right: 15px;
}

@media screen and (max-width:480px) {
    .Dark_container{
        width: 100%;
    }
    .Dark_Links{
        width: 100%;
        display: flex;
        margin: 2rem 0;
        justify-content: space-around;
    }
    .Dark_Links img{
        width: 20px;
    }
    .Dark_Links button{
        border: none;
        border-radius: 15px;
        font-weight: 600;
        font-size: 2.1vh;
        align-items: center;
        align-content: center;
        align-self: center;
    }
    .Dark_Links h2{
        margin: auto;
        font-size: 2.1vh;
        font-weight: 300;
    }
    /*  */


    .Dark_Item{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .Dark_Item_image{
        width:90%;
        display: flex;
        flex-direction: column-reverse;
    }
    .Dark_Item_pictures{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Dark_Item_image .SelectedImg{
        height: 99vw;
        width: 99vw;
        margin: auto;
        object-fit: contain;
    }
    
    .Dark_Item_pictures img{
        width: 50px !important;
        height: 50px !important;
        object-fit: cover;
    }
    .Dark_Item_pictures img:hover{
       cursor: pointer;
    }
    
    .Dark_Item_text{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center !important;
        flex-direction: column;
        justify-content: center;
    }
    .Dark_Item_text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 3.4vh;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    }
    .Dark_Item_text .Item_text_stock {
        margin: auto;
        text-align: center !important;
        color: white;
        padding: .4vh;
        background: #25E159;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .Dark_Item_text h2 span{
        font-weight: 700;
        text-align: center !important;
    }
    .Dark_Item_text h2 img{
        width: 30px;
        margin: 1em auto;
    }
    .Dark_Item_text h2{
        align-self: center;
        color: rgb(0, 0, 0);
        font-weight: 300;
        font-size: 2vh;
    }
    .EnvioGratis{
        color: #00A650 !important;
        font-size: 1.3rem !important;
        font-weight: 400 !important;
    }
    .combinations{
        margin-top: 3rem !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .combinations input{
        width: 20px;
        height: 20px;
    }
    /*  */

    .Detail_CountPrice{
        display: flex;
        height: 100%;
        width: 90%;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background: #979797aa;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .Detail_CountPrice .ButtonCompra{
        margin: auto 0;
        color: rgb(0, 0, 0);
        font-weight: 600;
        border: 1px solid rgb(231, 231, 231) !important;
        background-color: #3f3f3faa;
        border-radius: 15px;
    }
    
    .CountPrice_AddCart{
        margin: 2rem;
        border: none;
        width: 35px;
        transition: all .4s ease-in-out;
    }
    .CountPrice_AddCart:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    /*  */

    .Detail_Description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: auto;
        border-radius: 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .Detail_Description_Detail{
        padding: 0;
        width: 100%;   
    }
    .Detail_Description_Detail h2 {
        font-weight: 300;
        font-size: 1vh;
    }
    .Detail_Description_Detail p {
        margin-top: 0 !important;
        width: 90% !important;
        margin: auto;
        line-height: auto !important;
        font-weight: 400;
        font-size: 1rem;
    }
    /*  */

    .Detail_Description_payment{
        border-left: none;
        border-top: rgba(125, 124, 124, 0.531) 1px solid;
        margin:0 auto;
        width: 90%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .Payment_methods{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Payment_methods div{
        margin: .5rem 0;
    }
    .Payment_methods div img{
        margin: 0 1vh;
    }
}