.container_seller{
   margin-left: 10%;
    width: 100%;
    
}
.container_seller span{
    width: 100%;
}
.Container{
    width: 100%;
}

.Container_card{
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    border-radius: 15px;
    width: 80%;
    margin: 10vh auto;
    background-color: #fff;
}
@media (max-width: 400px){
    .Container_card{
        width: 100%;
    }
}
.Container_Perfil{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 1008px){
    .Container_Perfil{
        flex-direction: column;
    }
}

.Container_img_button{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.Container_img_button button{
    border: none;
    background-color: rgba(224, 224, 224, 0.813);
    padding: 1.5vh;
    border-radius: 15px;
    font-weight: 500;

}
.Container_img_button a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
}
.Container_img_button img{
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}
.Container_Perfil img{
    width: 450px;
    height: 450px;
    object-fit: cover ;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;

}
.Buttons{
    width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;

}
.Buttons a{
    width: 45%;
}
@media (max-width: 608px){
    .Container_Perfil img{
        width: 100%;
        height: auto;
    }
}

.Container_text{
    padding: 2vh;
    width: 55%;
}
.Container_text div{
    margin: 1vh 0;
}
.Container_text h1{
    font-size: 2.5rem;
}
.Container_text h2{
    color: rgb(97, 97, 97);
    font-weight: 300;
}

.Text_intereses{
    display: flex;
    flex-direction: column;

}

.Text_intereses h2{
    color: rgb(97, 97, 97);
}

.Intereses_container{
    display: flex;
    flex-direction: row;
}



.Text_transacciones{
    display: flex;
    flex-direction: column;
}
.Text_transacciones div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Text_completed{
    font-size: 2vh;
    color: rgb(0, 255, 0);
}

.Text_canceled{
    font-size: 2vh;
    color: rgb(255, 0, 0);
}

.Text_total{
    font-size: 2vh;
    font-weight: 700;
}
.Historial{
    width: 90%;
    margin: auto;
}
.SingleProduct{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    align-items: center;
}
.ItemsContainer{
    display: flex;
}
.SingleProduct img{
    width: 100px;
}

.IniciarSesion{
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.IniciarSesion a {
    font-size: 3rem;
}