.FooterContainer{
    bottom: 0;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top:4rem;
}

.FooterSubcontainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.FooterSubcontainer1 h1{
    font-size: 1rem;
}
.MiCuenta div{
    text-align: center;
    margin: 5px 0;
    display: flex;
    flex-direction: column !important;
}
.MiCuenta a{
    color: blue !important;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0;
}
.FooterSubcontainer2{
    width: 100%;
    margin-top: 3rem !important;
}

.FooterSubcontainer2 h1{
    font-size: 1rem;
}