.FooterContainer{
    top: auto;
    bottom: 0;
    margin-top: 4rem;
    width: 100%;
    transition: all .6s ease-in-out;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.DarkFooter{
    transition: all .6s ease-in-out;
    top: auto;
    bottom: 0;
    margin-top: 4rem;
    width: 100%;
    background-color: #330053;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.DarkFooter h1{
    color: white;
}
.FooterSubcontainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.FooterSubcontainer1 div{
    text-align: center;
    align-self: center;
    align-items: center;
    margin: auto;
}
.FooterSubcontainer1 h1{
    font-size: 1rem;
}
.MiCuenta a{
    color: #517ffd !important;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0;
}

.FooterSubcontainer2{
    width: 100%;
    margin-top: 1rem !important;
}

.FooterSubcontainer2 h1{
    font-size: 1rem;
    font-weight: 200;
}

@media screen and (max-width:600px) {
    .FooterSubcontainer1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .FooterSubcontainer1 div{
        margin: 1rem 0;
    }
}