*{
    text-decoration: none !important;
}
.SingleProduct_container{
    width: 85%;
    height: 170px;
    border-radius: 15px;
    margin: 2vh ;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-self: flex-end;
}


.SingleProduct_img img{
    width: 18vh;
    height: auto;
    height: 170px;
    width: 170px;
    object-fit: contain;
    margin: auto;
    border-radius: 12px;
}

.SingleProduct_img:hover, .SingleProduct_text:hover{
    cursor: pointer;
}
.SingleProduct_text{
    margin: auto; 
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.SingleProduct_text h1{
    font-size: 1.3rem;
    width: 80%;
    margin: 1rem 0;
    color: #333333;
    font-weight: 300;
}
.SingleProduct_text h2{
    align-self: flex-start;
    font-size: 1.8rem !important;
    font-weight: 700;
    color: #000000;
}
.SingleProduct_text h3{
    align-self: flex-start;
    color: #00A650 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}
.SingleProduct_buttons{
    width: 200px;
    margin-right: 3vh;
    display: flex;
    justify-self: flex-end;
    flex-direction: column; 
    justify-content: space-between;
}
.SingleProduct_buttons button{
    align-self: flex-end;
    margin: auto;
    font-weight: 500;
    color: rgb(101, 101, 101);
    border: none;
    border-radius: 10px;
    padding: 12px;
}
.SingleProduct_buttons button img{
    width: 35px;
}
.ProductFav{
    transition: all .9s ease-in-out;
}
.ProductFav:active{
    background: rgba(255, 0, 0, 0.672) !important;
}
.ProductFav:hover{
   transform: scale(1.5);
}