*{
    text-decoration: none !important;
}
.SingleProduct_container{
    width: 85%;
    height: 170px;
    border-radius: 15px;
    margin: 2vh ;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-self: flex-end;
    transition: all .6s ease-in-out;

}


.SingleProduct_img img{
    width: 18vh;
    height: auto;
    height: 170px;
    width: 170px;
    object-fit: contain;
    margin: auto;
    border-radius: 12px;
}

.SingleProduct_img:hover, .SingleProduct_text:hover{
    cursor: pointer;
}
.SingleProduct_text{
    margin: auto; 
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.SingleProduct_text h1{
    font-size: 1.3rem;
    width: 80%;
    margin: 1rem 0;
    color: #333333;
    font-weight: 300;
}
.SingleProduct_text h2{
    align-self: flex-start;
    font-size: 1.8rem !important;
    font-weight: 700;
    color: #000000;
}
.SingleProduct_text h3{
    align-self: flex-start;
    color: #00A650 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}
.SingleProduct_buttons{
    width: 200px;
    margin-right: 10vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-self: flex-end;
    flex-direction: row; 
    justify-content: space-between;
}
.SingleProduct_buttons button{
    align-self: flex-end;
    margin: auto;
    font-weight: 400;
    transition: all .5s ease-in-out;
    border: none;
    border-radius: 10px;
    padding: 12px;
}
.AddToCart:hover{
    transform: scale(1.3);
}
.SingleProduct_buttons button img{
    width: 35px;
}

.ProductFav{
    background-color: #fff !important;
    transition: all .6s ease-in-out;
}
.ProductFav:hover{
   transform: scale(1.3);
}

@media screen and (max-width:760px) {
    
.SingleProduct_container{
    margin: 1.5rem auto;
    width: 99%;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    transition: all .6s ease-in-out;
}


.SingleProduct_img img{
    height: auto;
    height:90px;
    width: 90px;
    object-fit: contain;
    margin: auto;
    border-radius: 12px;
}

.SingleProduct_img:hover, .SingleProduct_text:hover{
    cursor: pointer;
}
.SingleProduct_text{
    margin: auto; 
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.SingleProduct_text h1{
    font-size: 1.3rem;
    width: 60%;
    margin: 1rem 0;
    color: #333333;
    font-weight: 300;
}
.SingleProduct_text h2{
    align-self: center;
    width: 100%;
    font-size: 1.2rem !important;
    font-weight: 700;
    color: #000000;
}
.SingleProduct_text h3{
    align-self: center;
    color: #00A650 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}
.SingleProduct_buttons{
    width: 200px;
    display: flex;
    justify-self: flex-end;
    flex-direction: column; 
    justify-content: space-between;
}
.SingleProduct_buttons button{
    margin: auto;
    font-weight: 400;
    transition: all .5s ease-in-out;
    border: none;
    border-radius: 10px;
    padding: 12px;
}
.AddToCart:hover{
    transform: scale(1.3);
}
.SingleProduct_buttons button img{
    width: 35px;
}

.ProductFav{
    transition: all .6s ease-in-out;
}
.ProductFav:hover{
   transform: scale(1.3);
}
/* DARK MODE */

@media screen and (max-width:760px) {
    
.SingleProduct_container{
    height: max-content;
    margin: 1.5rem auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: all .6s ease-in-out;
}
.SingleProduct_img{
    align-items: center;
    justify-content: center;
    height:90px;
    width: 90px;
    object-fit: contain;
    border-radius: 12px;
    margin: auto;
}

.SingleProduct_img img{
    align-items: center;
    justify-content: center;
    height:90px;
    width: 90px;
    object-fit: contain;
    border-radius: 12px;
}

.SingleProduct_img:hover, .SingleProduct_text:hover{
    cursor: pointer;
}
.SingleProduct_text{
    align-items: center;
    margin: auto; 
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.SingleProduct_text h1{
    font-size: 1rem;
    margin: 1rem 0;
    color: #333333;
    font-weight: 300;
}
.SingleProduct_text h2{
    align-self: center;
    font-size: 1.8rem !important;
    font-weight: 700;
    color: #000000;
}
.SingleProduct_text h3{
    align-self: center;
    color: #00A650 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}
.SingleProduct_buttons{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}
.SingleProduct_buttons button{
    margin: auto;
    font-weight: 400;
    transition: all .5s ease-in-out;
    border: none;
    border-radius: 10px;
    padding: 12px;
}
.AddToCart:hover{
    transform: scale(1.1);
}
.SingleProduct_buttons button img{
    width: 35px;
}

.ProductFav{
    transition: all .6s ease-in-out;
}
.ProductFav:hover{
   transform: scale(1.1);
}
}
}