*{
    text-decoration: none !important;
}
.SingleProduct_container{
    width: 85%;
    height: 170px;
    border-radius: 15px;
    margin: 2vh ;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-self: flex-end;
}

.SingleProduct_img img{
    height: 170px;
    width: 170px;
    object-fit: contain;
    margin: auto;
    border-radius: 12px;
}

.SingleProduct_img:hover, .SingleProduct_text:hover{
    cursor: pointer;
}
.SingleProduct_text{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.SingleProduct_text h1{
    font-size: 2vh;
    margin: 1.4vh 0;
    color: #333333;
    font-weight: 300;
}
.SingleProduct_text h2{
    font-size: 2.5vh;
    font-weight: 700;
    color: #333333;
}
.SingleProduct_buttons{
    margin-right: 3vh;
    display: flex;
    justify-self: flex-end;
    flex-direction: column; 
    justify-content: space-between;
}
.SingleProduct_buttons button{
    align-self: flex-end;
    margin: auto;
    background-color: rgb(11, 175, 189);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 12px;
}
.SingleProduct_buttons button img{
    width: 35px;
}
.ProductFav{
    background-color: #e9e4e417 !important;
}