.app{
    background-color: #eceded;
    height: 100%;
    transition: all .6s ease-in-out;
}
img{
  z-index: 0;
}
.appDark{
  background-color: rgb(0, 0, 0);
  transition: all .6s ease-in-out;
}
.darkmode{
    z-index: 1;
    position: absolute;
    right: 25px;
    display: flex;
    justify-content: center;  
    margin: 30px 0;
    top: 0;
  }
  
  .darkmode .dark {
    background-color: #292c35;
  }
  .darkmode .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .darkmode .label {
    width: 38px;
    height: 14px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
  }
  
  .darkmode .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    left: -.6px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .darkmode .checkbox:checked + .label .ball{
    transform: translateX(20px);
  }

  @media screen and (max-width:600px) {
    .darkmode{
      transform: rotate(90deg);
      z-index: 32445436;
      right: 25px;
      top: 0;
      display: flex;
      justify-content: center;  
      margin: 25px 0;
    }

  }