.searchBar{
    max-width: 30rem !important;
    margin: auto;
}
.photo{
    width:100%;
    height: 10rem;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: baseline;
    border-radius: 10px 10px;
    z-index: 1;
}
.container_user{
    width: 17rem;
    height: 25rem;
    border:solid 2px rgb(134, 152, 159);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
    margin-bottom: 30px;
    margin-right: 30px;
    position:relative;
    min-width: 17rem;
    overflow: hidden;
}
.container_user button{
    
    border-radius: 5px;
    position:absolute;
    right:0;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.container_users{
    padding-top: 3rem;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin:0 auto;
}
.container{
    min-height: 70vh;
    text-align: center;
}
.container h1{
    padding: 5rem
}
.container_user div h4{
    font-size: small;
}