.categoryItem{
    display: block;
}
.subtitle{
    font-weight: 700;
    font-size: 4vh;
    margin-bottom: 2vh;
}
.container{
   display: flex;
    width: 20%;
    line-height: 4vh;
}
@media (max-width: 700px){
    .categoryItem {
        display:inline;
    }
    .Container{
     flex-direction: column;  
    }
}